<div class="container mt-5">
  
    <h2>List of all users</h2>
    <br>
    <button (click)="onGetUsers()">Get Users</button>
    <button (click)="onCreateUser()">Post User</button>


    <div class = "form-group" id="searchbar" style="width:200px !important;">
        <input id="search" type="text" style="font-size:12pt;" class="form-control search field" placeholder="Search Here" [(ngModel)]="searchText">
    </div>

    <table class="table table-striped" id="users">
        <thead>
            <tr>
              <th *ngFor="let col of columns">
                  {{col}}
              </th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | SearchFilter: searchText">
              <td>{{user.FirstName}}</td>
              <td>{{user.LastName}}</td>
              <td>{{user.FullName}}</td>
              <td>{{user.Email}}</td>
          </tr>
        </tbody>
      </table>
</div>